body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

#nav-bar-header {
    font-family: monospace;
    text-align: left;
    font-size: 50px;
    letter-spacing: 5px;
    color: dimgray;
    margin-left: 40px;
}

.container {
    display: flex; /* Use flexbox to make the containers fill the entire height */
    flex-direction: column; /* Stack containers vertically */
    height: 100vh; /* Set container height to 100% of viewport height */
}

.nav-bar-container {
    flex: 0.15;
    background-color: whitesmoke; /* Set background color for the navigation bar container */
}

.background-container {
    flex: 1; /* Make the background container expand to fill remaining space */

    /* Use flexbox for positioning within the background container: textbox and button */
    display: flex; 
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}

#front-text {
    width: 500px;
    height: 70px;
    background-color: black;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#textBackgroundColor {
    text-align: left;
    font-size: 23px;
    font-family: monospace;
    color: white;
    width: 50%; /* Set width to 50% */
    margin: 0; /* Remove default margin */
}

#hex-code {
    font-family: monospace;
    text-align: right; /* Align text to the right */
    font-size: 30px; /* Match font size with h2 */
    color: white; /* Match color with h2 */
    width: 50%; /* Set width to 50% */
    margin: 0; /* Remove default margin */
}

#click-me-button {
    background-color: transparent;
    font-family: monospace;
    font-size: 20px;
    border-radius: 20px;
    width: 250px;
    height: 50px;
    margin-top: 20px; /* Add some spacing between the text and the button */
}
